<div class="container">
  <div  class="card">
    <div class="card-body">
      <div class="mb-4">
        <button class="ringouter">
          <span class="ring"><i class="fa-solid fa-play"></i>{{ card.duration }}</span>
        </button>
        <img class="image-mb4" [src]="card.imageUrl" class="card-img-top" alt="cardimage">
      </div>
    
      <div>
        <i class="fa-solid fa-headset"></i>
        <a type="button" class="btn btn-link">{{ card.type }}</a>
        <h2 class="fa-text">{{ card.title }}</h2>
      </div>
    
    </div>
  </div>
</div>