
  <div class="card" style="width: 50rem;">
 
    
    <div class="card-body">
      <div class="mb-4">
        <button class="ringouter">
          <span class="ring"><i class="fa-solid fa-play"></i>30 mins</span> 
        </button>
        <img class="image-mb4"
        src="https://placehold.co/600x400" class="card-img-top" alt="cardimage">
        
        
      </div>
      <div class="mt-4 mb-4">
        <a class="badge bg-secondary">Branding</a>
      </div>
      <div>
        <i class="fa-solid fa-headset"></i>
        <a class="icon">Fashion</a>
      </div>
      <h2 class="card-title mt-4 mb-4">Easy Strategies to Help Your Family Succeed in 2020</h2>
      <div class="mt-4 mb-4 align-items-center">
        <img src="https://placehold.co/50x50" class="rounded-circle" alt="circleimage">
        <a type ="button" class="btn btn-link article-author-name">HARINI</a>
        <span class ="article-date ">Feb 16, 2024</span>
      </div>
      <div>
        <img src="https://placehold.co/30x30" class="rounded-circle" alt="circleimage">
        <a type ="button" class="btn btn-link podcast-author-name">HARINI</a>

      </div>
      
      <p class="card-text">Who denounce their brothers and sisters, sowing distrust and ill-will. They freeze our hearts and our tongues, by punishing with prison anyone who provokes, praises, or merely seeks to understand those mad acts to which an insane society has driven […]</p>
      
      <div class="card-footer text-muted">
        <button type="button" class="btn btn-link">Learn more</button>
      </div>
    </div>
    
  </div>
  
  <div class="card" style="width: 35rem;">  
    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <img class="image-mb4" src="https://placehold.co/150x200" class="w-100" alt="cardimage">
        </div>
        <div class="col-9">
          <h4 class="card-title mt-4 mb-4">Lord of the Rings</h4>
          <div class="">
            <button type="button" class="btn btn-primary">Download</button>
          </div>
        </div>
      </div>
    </div>
</div>
 