<div class="podcast-head ">
    <h1>E-BOOKS</h1>
    <button type="button" class="btn btn-info btn-info-1">View All</button>
</div>
<div class="container">
    <div class="row">
        <div *ngFor="let ebook of ebooks" class="col-6 mb-2">
            <app-e-book [ebook]="ebook"></app-e-book>
        </div>


    </div>
</div>
<div class="podcast-head">
    <h1>PODCAST</h1>
    <button type="button" class="btn btn-info btn-info-2">View All</button>
</div>
<div class="container">
    <div class="row">
        <div *ngFor="let card of cards" class="col-4 mb-4">
            <app-podcast [card]="card"></app-podcast>
        </div>

    </div>
</div>
<div class="podcast-head article-head ph-1">
    <h1>ARTICLE</h1>
    <button type="button" class="btn btn-info btn-info-3">View All</button>
</div>
<div class="container">
    <div class="row">
        <div *ngFor="let article of articles" class="col-4 mb-4">
            <app-article [article]="article"></app-article>
        </div>

    </div>

</div>


<!-- <div *ngIf="selectedEbook">
  <h2>{{ selectedEbook.title }}</h2>
  <img [src]="selectedEbook.imageUrl" alt="Ebook Image">
</div> -->