h1{
    display: flex;
    justify-content: center; 
    align-items: center; 
    color:black;
    font-family: rubik,Sans-serif;
    font-weight: bold;

}
.btn-info{
    
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 64%;
    position:inherit ;
    display: flex;
    justify-content: flex-end;

}
.podcast-title{
    font-family: rubik,Sans-serif;
    display: flex;
    flex-direction: row;  
    margin-left: 290px; 

}
.podcast-head{
    display: flex;
    flex-direction: row;
    margin-left: 15.6%;
}
.btn-info-2{
    margin-left: 63.5%;
}
.btn-info-3{
    margin-left: 65.5%;
}
.btn-info-4{
    margin-left:57.5% ;
}
.btn-info-1{
    margin-left: 65.5%;
}
.sub-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 60%;
    list-style: none;
    
}
.sub-menu a{
    text-decoration: none;
    color: gray;
    font-weight: bold;
}
.sub-menu a:hover{
    text-decoration: solid;
    cursor: pointer;
    color:black;
}

.logo{
    height: 30px;
    width: 40px;
}
.container{
    margin-bottom:0px ;
}
.carousel-item{
 
  background-color: black;
}